.map {
  position: relative;
  height: inherit;
  width: inherit;
}

#tooltip {
  position: absolute;
  background: #272626;
  opacity: 90%;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.world-info {
  position: absolute;
  z-index: 1000;
  background: #272626;
  border-radius: 12px;
  right: 10px;
  bottom: 30px;
  padding: 10px;
  width: 200px;
  opacity: 90%;
}

.MuiTextField-root {
  background-color: whitesmoke;
}

.active {
  color: yellow;
}

.confirmed {
  color: red;
}

.recovered {
  color: green;
}

.deaths {
  color: white;
}

.header {
  color: white;
  line-height: 0px;
}
